---
title: Installing Flo
---

This section provides instructions for installing Flo for Spring Cloud Data Flow. 

The intent is to replace the UI jar within the Spring Cloud Data Flow distribution with a Flo enabled UI jar.  These are the steps:

1. Build Spring Cloud Data Flow. This will produce an admin jar in the **spring-cloud-dataflow-admin-[VARIANT]/target** subfolder with a name of the form: **spring-cloud-dataflow-admin-[VARIANT]-[VERSION].jar**

1. Move into the **spring-cloud-dataflow-admin-[VARIANT]/target** subfolder and optionally backup the jar you are about to patch:
	<pre class='terminal'> cd spring-cloud-dataflow-admin-[VARIANT]/target</pre>
	<pre class='terminal'> cp spring-cloud-dataflow-admin-[VARIANT]-[VERSION].jar</pre> 
	<pre class='terminal'> spring-cloud-dataflow-admin-[VARIANT]-[VERSION].jar.original</pre>

1. Visit the <a href=”link!”>Flo product page</a> and download **flo-spring-cloud-dataflow-admin-[VERSION].zip**. The version should match the version of Spring Cloud Data Flow you are building. If it does not match it will be necessary to do an extra rename step as indicated below in order for the patch to apply properly, but even then it may not be totally compatible.

1. Whilst still in the **target** subfolder, unzip the flo zip file:

	<pre class='terminal'>unzip flo-spring-cloud-dataflow-admin-[VERSION].zip</pre>

	This will create a **lib** subfolder containing our patch jar to apply to the built jar.

1. If the version of flo downloaded does not exactly match the version of Spring Cloud Data Flow that was built, rename the jar in the **lib** folder such that it matches the Data Flow version:

	<pre class='terminal'> mv lib/spring-cloud-dataflow-ui-[DOWNLOADED_VERSION].jar</pre>
	<pre class='terminal'> lib/spring-cloud-dataflow-ui-[BUILT_VERSION].jar</pre>

	As mentioned earlier, if this rename step is necessary the jar may not be compatible.

1. Now, ensure you are in the **target** subfolder and apply the patch to the built jar:

	<pre class='terminal'>jar -u0vf spring-cloud-dataflow-admin-[VARIANT]-[VERSION].jar lib</pre>

	<p class='note'><strong>Note</strong>:Note: the 0 is important since otherwise the extra compression damages the executable nature of the jar.</p>

1. The modified jar can now be run:

	<pre class='terminal'>java -jar spring-cloud-dataflow-admin-[VARIANT]-[VERSION].jar.</pre>

1. Open your browser, clear your browser cache and now the admin UI should contain Flo extensions:

	- Main dashboard: **http://HOST_NAME:PORT/admin-ui
	- Stream creation: **http://HOST_NAME:PORT/admin-ui/#/streams/create

	<p class='note'><strong>Note</strong>: If unchanged, the default PORT points to 9393.</p>

