---
title: Spring Cloud&reg; Data Flow for PCF
owner: Spring Cloud Services
---

## <a id='overview-oss'></a>Overview of Spring Cloud Data Flow

Spring Cloud Data Flow is an open-source toolkit for data integration and real-time data processing (see the [project home page](http://cloud.spring.io/spring-cloud-dataflow/)). The Spring Cloud Data Flow (SCDF) server deploys pipelines composed of [Spring Cloud Stream](http://cloud.spring.io/spring-cloud-stream/) or [Spring Cloud Task](http://cloud.spring.io/spring-cloud-task/) applications. A DSL makes it easy to describe the applications in a pipeline and how they are connected.

The SCDF server exposes a REST API for composing and deploying data pipelines and a dashboard with a graphical pipeline editor. It also includes a shell for working with the API from the command line.

## <a id='about'></a>About Spring Cloud Data Flow for PCF

Spring Cloud Data Flow for Pivotal Cloud Foundry (PCF) automates the deployment of SCDF and its dependent services so that developers can use Apps Manager to deploy their own SCDF instances. They can then access their Data Flow server, either via the SCDF dashboard UI or using their PCF credentials with the SCDF shell.

## <a id='features'></a>Key Features

Spring Cloud Data Flow for PCF includes the following key features:

- Addition of the Spring Cloud Data Flow server to the Marketplace as a managed service
- Automatic integration with dependent PCF services:
  - MySQL for apps, pipelines and task history
  - RabbitMQ for event messaging
  - Redis for capturing analytics data
- Integration of Data Flow server with PCF's UAA security model

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Spring Cloud Data Flow for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.0.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>February 13, 2018</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>v1.3.0.RELEASE</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.10.x, v1.11.x, v1.12.x and v2.0.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.10.x, v1.11.x, v1.12.x and v2.0.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>All supported by PCF</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

Spring Cloud Data Flow for PCF has the following requirements:

* [MySQL for PCF v2](https://network.pivotal.io/products/pivotal-mysql), or an alternative relational database service
* [RabbitMQ for PCF](https://network.pivotal.io/products/pivotal-rabbitmq-service), or an alternative RabbitMQ or Kafka service
* [Redis for PCF](https://network.pivotal.io/products/p-redis), or an alternative Redis service

For complete details on prerequisites to installation, see the [Prerequisites](/scdf/prerequisites.html) topic.

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the
[Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list.
