---
title: Spring Cloud&reg; Data Flow for PCF (Beta)
owner: Spring Cloud Services
---
<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
     }
</style>

<p class="note warning">
<strong>IMPORTANT: </strong>
The Spring Cloud Data Flow tile is currently in beta and is intended for evaluation and test purposes only.
Do not use this product in a PCF production environment.
</p>

## <a id='overview'></a>Overview

Spring Cloud Data Flow is an open-source Spring Cloud project (see the [project home page](http://cloud.spring.io/spring-cloud-dataflow/)), a toolkit for building data integration and real-time data processing pipelines using the [Spring Cloud Stream](http://cloud.spring.io/spring-cloud-stream/) or [Spring Cloud Task](http://cloud.spring.io/spring-cloud-task/) microservice frameworks. It is suitable for a range of data processing use cases, from import and export to event streaming and predictive analytics.

Spring Cloud Data Flow includes a simple [stream pipeline DSL](http://docs.spring.io/spring-cloud-dataflow/docs/current-SNAPSHOT/reference/htmlsingle/#_stream_dsl) for specifying applications to deploy and how to connect outputs and inputs. It also includes a [dashboard](http://docs.spring.io/spring-cloud-dataflow/docs/current-SNAPSHOT/reference/htmlsingle/#dashboard-introduction) with a graphical pipeline editor and views of deployable apps and running apps, a [REST API](http://docs.spring.io/spring-cloud-dataflow/docs/current-SNAPSHOT/reference/htmlsingle/#api-guide-overview) for composing and deploying data pipelines, and a separate [shell](http://docs.spring.io/spring-cloud-dataflow/docs/current-SNAPSHOT/reference/htmlsingle/#getting-started-deploying-spring-cloud-dataflow) for working with the API from the command line.

Spring Cloud Data Flow for Pivotal Cloud Foundry (PCF) automates the deployment of a Spring Cloud Data Flow (SCDF) server and its dependent services. Developers use Apps Manager to deploy their own SCDF server. They can then access the Data Flow server, either via the SCDF dashboard UI or using their PCF credentials with the SCDF shell.

## <a id='features'></a>Key Features

Spring Cloud Data Flow for PCF includes the following key features:

- Addition of the Spring Cloud Data Flow server to the marketplace as a managed service
- Automatic integration of deployed Data Flow server with MySQL for task history storage, RabbitMQ for event messaging, and Redis for analytics store
- Integration of Data Flow server with PCF's UAA security model

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Spring Cloud Data Flow for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v0.4.0 BETA</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>August 1, 2017</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>v1.2.1.RELEASE</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.9.x, v1.10.x, v1.11.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.9.x, v1.10.x, v1.11.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>All supported by PCF</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

Spring Cloud Data Flow for PCF has the following requirements:

* [MySQL](https://network.pivotal.io/products/p-mysql)
* [RabbitMQ](https://network.pivotal.io/products/pivotal-rabbitmq-service)
* [Redis](https://network.pivotal.io/products/p-redis)

For complete details on prerequisites to installation, see the [Prerequisites](/scdf/prerequisites.html) topic.

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the
[Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list.
