---
title: Spring Cloud&reg; Data Flow for PCF
owner: Spring Cloud Services
---

<p class="note"><strong>Note: Spring Cloud Data Flow for PCF v1.0.x is no longer supported.</strong> The support period for v1.0.x has expired.  To stay up to date with the latest software and security updates, upgrade to a supported version.</p>

## <a id='about-oss'></a>About Spring Cloud Data Flow

Spring Cloud Data Flow is an open-source toolkit for data integration and real-time data processing (see the [project home page](http://cloud.spring.io/spring-cloud-dataflow/)). The Spring Cloud Data Flow (SCDF) server deploys pipelines composed of [Spring Cloud Stream](http://cloud.spring.io/spring-cloud-stream/) or [Spring Cloud Task](http://cloud.spring.io/spring-cloud-task/) applications. A domain-specific language (DSL) makes it easy to describe the applications in a pipeline and how they are connected.

The SCDF server exposes a REST API for composing and deploying data pipelines and a dashboard with a graphical pipeline editor. It also includes a shell for working with the API from the command line.

## <a id='about'></a>About Spring Cloud Data Flow for PCF

Spring Cloud Data Flow for Pivotal Cloud Foundry (PCF) automates the deployment of SCDF and its dependent services so that developers can use Apps Manager to deploy their own SCDF instances. They can then access their Data Flow server, either via the SCDF dashboard UI or using their PCF credentials with the SCDF shell.

## <a id='features'></a>Key Features

Spring Cloud Data Flow for PCF includes the following key features:

- Addition of the Spring Cloud Data Flow server to the Marketplace as a managed service
- Automatic integration with dependent PCF services:
  - MySQL for PCF for apps, pipelines and task history
  - RabbitMQ for PCF for event messaging
  - Redis for PCF for capturing analytics data
- Integration of Data Flow server with PCF's UAA security model

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Spring Cloud Data Flow for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.0.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>February 13, 2018</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>v1.3.0.RELEASE</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.10.x, v1.11.x, v1.12.x and v2.0.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.10.x, v1.11.x, v1.12.x and v2.0.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>All supported by PCF</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

Spring Cloud Data Flow for PCF has the following requirements:

* [Java Cloud Foundry buildpack](https://github.com/cloudfoundry/java-buildpack) version 3.8 or later (see the [Prerequisites](installing.html#prerequisites) section of [Installation](installing.html) for more information)
* [MySQL for PCF v2](https://network.pivotal.io/products/pivotal-mysql), or an alternative relational database service
* [RabbitMQ for PCF](https://network.pivotal.io/products/pivotal-rabbitmq-service), or an alternative RabbitMQ or Kafka service
* [Redis for PCF](https://network.pivotal.io/products/p-redis), or an alternative Redis service
* [Cloud Foundry Command Line Interface](https://github.com/cloudfoundry/cli) (cf CLI)

### <a id="optional"></a>Optional

To use the Spring Cloud Data Flow shell interface with Spring Cloud Data Flow for PCF service instances, install the following cf CLI plugins:

* [Spring Cloud Data Flow for PCF cf CLI plugin](https://github.com/pivotal-cf/spring-cloud-dataflow-for-pcf-cli-plugin). To install the plugin, run the following command:

    ```
    $ cf install-plugin -r CF-Community "spring-cloud-dataflow-for-pcf"
    ```
  * [Java Runtime Environment](https://java.com/en/) (JRE). Required to run the Data Flow shell. You can download the JRE from the <a href="https://java.com/en/">Java website</a>.
* [Service Instance Logging cf CLI plugin](https://github.com/pivotal-cf/service-instance-logs-cli-plugin). To install the plugin, run the following command:

    ```
    $ cf install-plugin -r CF-Community "Service Instance Logging"
    ```

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the
[Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list.
