---
title: Installing and Configuring Spring Cloud&reg; Data Flow for PCF
owner: Partners
---

Make sure that you have or have completed all products and requirements listed in the <a href="/scdf/prerequisites.html">Prerequisites</a> topic. Then follow the below steps to install Spring Cloud Data Flow for PCF.

##<a id='install'></a> Installation Steps

1. Download the product file from [Pivotal Network](https://network.pivotal.io/).

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file. 

    ![Importing Product File](import-product.png)

1. Under the **Import a Product** button, click **+** next to the version number of Spring Cloud&reg; Data Flow for PCF. This adds the tile to your staging area.

    ![Selecting Product Version](select-version.png)

1. Click **Apply Changes** to install the Spring Cloud&reg; Data Flow tile.
