---
title: Installing and Configuring Spring Cloud&reg; Data Flow for PCF
owner: Spring Cloud Services
---

Make sure that you have or have completed all products and requirements listed in the <a href="/scdf/prerequisites.html">Prerequisites</a> topic. Then follow the below steps to install Spring Cloud Data Flow for PCF.

##<a id='install'></a> Installation Steps

1. Download the product file from [Pivotal Network](https://network.pivotal.io/).

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file. 

1. Under the **Import a Product** button, click **+** next to the version number of Spring Cloud&reg; Data Flow for PCF. This adds the tile to your staging area.

1. Click the newly added **Spring Cloud Data Flow** tile. In the **Settings** tab, click **Assign AZs and Networks**.

    ![Setting AZs and Network](azs-and-networks.png)

    Select the availability zones for the tile to use. In the **Network** section, select the PAS (or ERT) network.

1. In the **Settings** tab, click **Service Broker**.

    ![Setting Broker Relational Database Service](configure-relational.png)

    Enter the relational database service name and plan name for the Spring Cloud Data Flow tile to use for storing its service broker's service instance data. If you have the MySQL for PCF v2 tile installed and it has an active `db-small` plan, you may leave these fields unmodified.
<p class='note'><strong>Note</strong>: If you are not using the MySQL for PCF v2 default for the service broker's database, you must provide information for another relational database service from your PCF marketplace (see the <a href="https://docs.pivotal.io/pivotalcf/devguide/services/">PCF documentation</a>).<br/ ><br/>
Spring Cloud Data Flow for PCF supports MySQL for PCF v1. If you wish to use it, set this service name to <code>p-mysql</code> and set the plan name to an active MySQL for PCF v1 plan.
</p>

1. In the **Settings** tab, click **Data Flow Server**.

    ![Setting Data Flow Server Relational Database Service](df-server-relational.png)

    Configure the relational database service name and plan used by the Data Flow server application deployed for each Data Flow service instance. If you have the MySQL for PCF v2 tile installed and it has an active `db-small` plan, you can leave these fields unmodified.

1. Still in the **Settings** tab, click **Skipper**.

    ![Setting Skipper Relational Database Service](skipper-relational.png)

    Configure the relational database service name and plan used by the Skipper application deployed for each Data Flow service instance. If you have the MySQL for PCF v2 tile installed and it has an active `db-small` plan, you can leave these fields unmodified.

1. Still in the **Settings** tab, click **Errands**.

    ![Configuring Errands](errands.png)

    Each of the four lifecycle errands can be set to run conditionally (**When Changed**), always (**On**), or not at all (**Off**). Pivotal recommends that all Spring Cloud Data Flow lifecycle errands be set to always run (**On**).

    <p class='note'><strong>Important</strong>: The "run-tests" errand requires access to the Internet. If your Pivotal Cloud Foundry deployment does not allow external network access, set this errand to <strong>Off</strong>.</p>

1. Return to the Ops Manager Installation Dashboard and click **Apply Changes** to install the Spring Cloud&reg; Data Flow tile.
