---
title: Prerequisites to Installing Spring Cloud&reg; Data Flow for PCF
owner: Spring Cloud Services
---

See below for information about the platform and product requirements which must be fulfilled before you install Spring Cloud Data Flow for PCF.

## <a id="buildpack-requirements"></a>Buildpack Requirements

Spring Cloud Data Flow for PCF is built using Spring Boot 1.5, which requires version 3.8 or later of the Java Cloud Foundry buildpack. The default Java buildpack---the buildpack at the lowest position of all Java buildpacks---on your PCF installation must therefore be at version 3.8 or later.

You can use the Cloud Foundry Command Line Interface tool (cf CLI) to see the version of the Java buildpack that is currently installed.

<pre class="terminal">
$ cf buildpacks
Getting buildpacks...

buildpack                position   enabled   locked   filename
java_buildpack_offline   1          true      false    java-buildpack-offline-v3.8.1.zip
ruby_buildpack           2          true      false    ruby_buildpack-cached-v1.6.19.zip
nodejs_buildpack         3          true      false    nodejs_buildpack-cached-v1.5.15.zip
go_buildpack             4          true      false    go_buildpack-cached-v1.7.10.zip
</pre>

If the default Java buildpack is older than version 3.8, you can download a newer version from [Pivotal Network](https://network.pivotal.io/products/pivotal-cf) and update Pivotal Cloud Foundry by following the instructions in the [Managing Custom Buildpacks](http://docs.pivotal.io/pivotalcf/adminguide/buildpacks.html) topic. To ensure that the newer buildpack is the default Java buildpack, you may delete or disable the older buildpack or make sure that the newer buildpack is in a lower position.

## <a id="service-requirements"></a>Service Requirements

Spring Cloud Data Flow for PCF relies on three other services (the Pivotal products used by default are listed first):

* [MySQL for PCF v2](https://network.pivotal.io/products/pivotal-mysql), or any other relational database service
* [RabbitMQ for PCF](https://network.pivotal.io/products/pivotal-rabbitmq-service), or any other RabbitMQ or Kafka service
* [Redis for PCF](https://network.pivotal.io/products/p-redis), or any other Redis database service

If you wish to use the products listed above and they are not already installed, you can follow the steps listed in the <a href="/scdf/installing.html">Installation</a> topic to install them along with Spring Cloud Data Flow for PCF. If you do not wish to use these products as the backing services, you must provide your own alternative data services. For information about creating Spring Cloud Data Flow service instances which use alternative backing services, see the [Using User-Provided Service Instances](/scdf/using-user-provided-service-instances.html) topic.
