---
title: Spring Cloud Data Flow Release Notes
owner: Spring Cloud Services
---

Release notes for Spring Cloud Data Flow for PCF

## <a id="1-1-0"></a>v1.1.0

**Release Date:** June 18, 2018

Features included in this release:

* Service instances are now based on Spring Cloud Data Flow 1.5.1.RELEASE.
* Service instances now accept Maven configuration properties provided by Spring Cloud Data Flow OSS.
* The "run-tests" lifecycle errand no longer requires access to the Internet.
