---
title: Spring Cloud Data Flow Release Notes
owner: Spring Cloud Services
---

Release notes for Spring Cloud Data Flow for PCF

## <a id="1-2-0"></a>v1.2.0

**Release Date:** September 12, 2018

Enhancements included in this release:

* Service instances are now based on Spring Cloud Data Flow 1.6.1.RELEASE.
* Service instances can now be configured at create time to use the PCF Scheduler service.

Fixes included in this release:

* A service instance configured to use a particular Java buildpack will now use that buildpack in deploying task applications.
