---
title: Spring Cloud Data Flow Release Notes
owner: Spring Cloud Services
---

Release notes for Spring Cloud Data Flow for PCF.

## <a id="1-4-0"></a>v1.4.0

**Release Date:** March 20, 2019

Enhancements included in this release:

* Upgraded to Spring Cloud Data Flow OSS v2.0.1.RELEASE. For more information and to view a list of resolved issues, see the [2.0.1.RELEASE](https://github.com/spring-cloud/spring-cloud-dataflow/milestone/69?closed=1) milestone on GitHub.
* Reduction in resources used per service instance, as the metrics collection app and backing Redis service instance are no longer deployed for Spring Cloud Data Flow service instances (for each existing Data Flow service instance, the metrics app and backing Redis service instance will be deleted when the Data Flow service instance upgrade to the 1.4.0 version).
