---
title: Using the Dashboard
owner: Spring Cloud Services
---

<strong><%= modified_date %></strong>

To find the dashboard, navigate in <%= vars.scs_platform_name %> Apps Manager to the Data Flow service instance's space, click the listing for the service instance, and then click **Manage**.

<%= image_tag(vars.scdf_using_dashboard_img_manage_link) %>

If you are using version 6.8.0 or later of the Cloud Foundry Command Line Interface tool (cf CLI), you can also use `cf service SERVICE_NAME`, where `SERVICE_NAME` is the name of the Data Flow service instance:

<pre class="terminal">
$ cf service data-flow
Showing info of service data-flow in org myorg / space dev as user...

name:            data-flow
service:         p-dataflow
bound apps:
tags:
plan:            standard
description:     Deploys Spring Cloud Data Flow servers to orchestrate data pipelines
documentation:
dashboard:       https://p-dataflow.apps.example.com/instances/2c9a66d3-99d8-458c-860d-01e7ac64eb1d/dashboard

Showing status of last operation from service data-flow...

status:    create succeeded
message:   Created
started:   2018-05-17T19:02:04Z
updated:   2018-05-17T19:08:14Z
</pre>

Visit the URL given for "Dashboard".

## <a id="dashboard-information"></a>Dashboard Information

The dashboard provides an overview of registered applications, stream and task definitions, and batch jobs. It also provides controls for deploying streams, launching tasks, and restarting batch job executions.

<%= image_tag(vars.scdf_using_dashboard_img_empty_dashboard) %>

For complete information about the dashboard and its provided functionality, see the [OSS Spring Cloud Data Flow project's documentation](https://docs.spring.io/spring-cloud-dataflow/docs/1.5.0.RELEASE/reference/htmlsingle/#dashboard).
